section{
	width: 100%;
	min-height : 790px; 
}

article{
	width: 890px;
	margin: 0 auto;
	background-color: orange;
}

#pd_detail_no1{
	height: 600px;
}

#pd_detail_no1 > .no1_img_info1{
	width: 890px;
	height: 350px;
	background-color: yellow;
	float: left;	
}

#pd_detail_no1 > .no1_img_info1 > .info1_img{
	width: 400px;
	height: 350px;
	background-color: green;
	float:left;
	padding: 25px;
} 

#pd_detail_no1 .no1_img_info1 > .info1_img > span:first-child{
	display: inline-block;
	width: 300px;
	height: 250px;
	margin : 0 auto;
	background-color: white;
}

#pd_detail_no1 .no1_img_info1 > .info1_img > span:last-child > span{
	display: block;
	width: 150px;
	height: 60px;
	float:left;
	background-color: red;
}

#pd_detail_no1 > .no1_img_info1 > .info1_info1{
	width: 490px;
	height: 350px;
	padding: 20px;
	background-color: blue;
	float:left;
	
}

#pd_detail_no1 > .no1_img_info1 > .info1_info1 > table td{
	height: 50px;
}

#pd_detail_no1 > .no1_img_info2{
	width: 890px;
	height: 270px;
	padding : 25px 30px;
	background-color: yellow;
	float: left;	
}

#pd_detail_no1 > .no1_img_info2 >table td{
	height: 40px;	
}

#pd_detail_no2{
	clear:left;
	height: 300px;
	background-color: gray;
}

#pd_detail_no2 > div> input[type=text]{
	padding-left: 20px;
	width: 890px;
	height: 30px;
	outline: none;
	border: none;
}

#pd_detail_no2 > div > textarea{
	padding: 25px;
	width: 890px;
	height: 270px;
	outline: none;
	border: none;
	resize: none;
}


#pd_detail_no1{
	
}

#pd_detail_no1{
	
}



#pd_detail_no3{
	
}


#pd_detail_no4{
	
}


#pd_detail_no5{
	
}