@charset "UTF-8";

section {
    height:1100px;
}

.hide {
	display:none;
}
.squad_list table {
	text-align:center;
	border-spacing:0 0;
}
.squad_list table th {
	border-bottom: 1px solid #e6e8e5;
    background-color: #e6e8e5;
    height:40px;
}

.squad_list table td {
	border-bottom:1px solid #e6e8e5;
	height:30px;
}
.width1 {
	width:100px;
}
.width2 {
	width:400px;
}






.search_box {
	width: 100%;
	margin:70px auto 0;
	border:none;
	border-top: 1px gray solid;
	border-bottom: 2px gray solid;
}
.search_box > form {
	display: flex;
	justify-content: space-between;
	
}
#search_select {
	width: 110px;
	height: 40px;
	border:none;
	border-bottom : 1px solid gray;
	border-right: 1px solid gray;
}
.search_text,
.search_formation {
	width: 760px;
	height: 40px;
	border:none;
	border-bottom : 1px solid gray;
	padding-left: 10px;
	outline:none;
}
.btn_search {
	width: 130px;
	height: 40px;
	border:none;
	border-bottom : 1px solid gray;
}