@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.box_inner_text{
	font-family: 'NanumSquareNeo-Variable';
}
.step_txt2{
	display: block;
    position: relative;
    padding-top: 50px;
    font-size: 24px;
    font-weight: 500;
	color: #999; 
    line-height: 1;
    text-align: center;
    padding-bottom: 30px;
    background: url(../image/riding-line.png)no-repeat top;
}