 @font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

section{
	width: 100%;
	min-height : 790px; 
}

article{
	width: 890px;
	height: auto;
	margin: 0 auto;
}

table{
	border-collapse: collapse;
	width: 840px;
	margin: 0 auto;
}

/* 제품소개(필수) 사진 */
#pd_detail_no1{
	width: 890px;
	min-height: 880px;
	max-height: 900px;
	overflow-y: scroll;
}

#pd_detail_no1 > .no1_img_info1{
	width: 840px;
	height: 400px;
	float: left;	
}

.b_img{
	width: 300px;
	height: 300px;
	margin-left: 45px;
}

#pd_detail_no1 > .no1_img_info1  table td{
    height: 60px;
}

.f_table_label{
/* 	background-color: #C1E1EE; */
/* 	background-color: #AED6F1; */
/* 	background-color: #ADD5F7; */
	background-color: #87CEFA;
	border: 1px solid #87cefa;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.f_table_field{
	padding-left: 15px;
	border: 1px solid #87cefa;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}

.textA_table_field{
	font-size: 16px;
	padding-top: 5px;
	width: 100%;
	min-height: 90px;
	outline: none;
    border: none;
    resize: none;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}


/*수정/삭제/장바구니/구매*/

#pd_detail_no3{
	width: 890px;
	height: 60px;
	margin-top: 80px;
	margin-bottom: 90px;
}

#pd_detail_no3 > div{
	width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.r_d_b_b{
	width: 165px;
	height: 55px;
	background-color: #007bff; /* 진한 파랑색 */
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
}

/*목록*/
.list_b{
	width: 165px;
	height: 55px;
	background-color: #964b00; /* 갈색 */
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
}



/* 댓글리뷰 */
#pd_detail_no4{
	width: 890px;
	height: auto;
	min-height: 100px;
	max-height: 500px;
	margin-bottom: 70px;
}


#pd_detail_no4 td{
	text-align: center;
}
.re_conten{
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

.h40{
	vertical-align: top;
	height: 50px;
}

.del_bt_hide{
	display: none;
}

/* 댓글작성 */
#pd_detail_no5{
	height: 100px;
	position: relative;
}
#pd_detail_no5 >div> div:first-child > p{
	width: 60px;
	display: inline-block;
	margin-left: 30px;
}
#pd_detail_no5 > div > div:first-child > input[type=text]{
	width: 340px;
	height: 25px;
	margin-right: 90px;
	outline: none;
	border: none;
}

#pd_detail_no5 > div > div:first-child > input[type=number]{
	width: 140px;
	height: 25px;
	border: none;
}


#pd_detail_no5 >div > div:last-child > p{
	width: 60px;
	margin-left: 30px;
}
#pd_detail_no5 > div > div:last-child > textarea{
	width: 672px;
	height: 60px;
	resize: none;
	margin-left: 95px;
	margin-top: -20px;
}

#pd_detail_no5 > div > div:last-child > input[type=submit]{
	width: 85px;
	height: 85px;
	position: absolute;
	top : 0;
	right: 0;
}

